<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="english">
<head>
    <meta charset="UTF-8">
    <title>Hash and Password Retrieval</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="main-container">

    <header class="text-center mb-4">
        <div class="header-buttons">
            <a href="#" th:href="@{/home}" class="btn btn-primary mx-2">Hash Text</a>
        </div>
        <h1>MHD Password Cracker</h1>
        <div class="header-buttons">
            <a href="#" th:href="@{/crack}" class="btn btn-secondary mx-2">Crack Password</a>
        </div>
    </header>



        <div class="container">
            <div class="form-container">
                <form th:action="@{/password}" method="post">
                    <label for="hashToRetrieve">Enter hash to get password:</label>
                    <input type="text" id="hashToRetrieve" name="hashToRetrieve" required />
                    <button type="submit">Retrieve Password</button>
                </form>
            </div>

            <div class="form-container">
                <form>
                    <label for="retrievedPassword">Retrieved Password:</label>
                    <input type="text" id="retrievedPassword" name="retrievedPassword" th:value="${retrievedPassword}" readonly />
                </form>
            </div>
        </div>
</div>
</body>
</html>